<include file="common/header" />
<div class="panel">
    <div class="panel-heading">编辑：{$config.name}
        <div class="columns  pull-right">
            <a href="{:U('/Home/Project/reset/project_name/'.$config['project_name'])}" class="btn btn-primary">重置</a>
            <a href="{:U('/Home/Project/package/project_name/'.$config['project_name'])}" class="btn btn-primary">打包</a>
            <a href="{:U('/Home/Project/listProject')}" class="btn btn-btn-default">返回</a>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <iframe src="{$preview_url}" style="width: 100%;height: 640px;"></iframe>
                <p class="text-left">预览：<a href="{$preview_url}" target="_blank">网页预览</a><small>&nbsp;PS:用Google浏览器然后按F12 用手机模式查看</small></p>
                <!-- 二维码 -->
                <img src="{:U('/Home/Common/createQRcode/','','')}?text={$preview_url}&size=150">

                <div class="panel panel-info" style="border: 1px solid #bce8f1;">
                    <div class="panel-heading">插件配置</div>
                    <div class="panel-body">
                        <foreach name="plugin_config.plugins" item="plugin_name">
                            <div>
                                <h4>{$plugin_config['config'][$plugin_name]['description']}</h4>
                                <hr>
                                <form action="{:U('/Plugin/'.$plugin_name.'/update')}" method="post" accept-charset="utf-8">
                                    <?php foreach($plugin_config['config'][$plugin_name]['input'] as $index => $input): ?>
                                        <!-- 输入 -->
                                        <?php if($input['type']==='text'): ?>
                                            <label>{$input['description']}</label>
                                            <input type="hidden" name="plugin_input_name" value="{$input['name']}">
                                            <input type="text" class="form-control" name="value" value="<?= $input['value']; ?>">
                                        <?php endif; ?>
                                        <!-- 单选 -->
                                        <?php if($input['type']==='radio'): ?>
                                            <label>{$input['description']}</label>
                                            <br>
                                            <input type="hidden" name="plugin_input_name" value="{$input['name']}">
                                            <input type="radio" class="" name="value" value="1" <?php echo ($input['value'] === '1' ? 'checked': ''); ?> >
                                            <label>是</label>
                                            <input type="radio" class="" name="value" value="0" <?php echo ($input['value'] !== '1' ? 'checked': ''); ?> >
                                            <label>否</label>
                                            <br>
                                        <?php endif; ?>
                                    <?php endforeach; ?>
                                    <input type="hidden" name="plugin_name" value="{$plugin_name}">
                                    <input type="hidden" name="project_name" value="{$config.project_name}">
                                    <button class="btn btn-success" onclick="return confirm('确认更新')" style="margin: 4px;">更新</button>
                                </form>
                            </div>
                        </foreach>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="tabs" style="border: 1px solid #eee;">
                    <ul class="nav nav-tabs">
                        <foreach name="config.edit_page" item="page">
                            <li role="presentation" class="<?= $page['id'] == $edit_page ?'active':''; ?>"><a href="<?= U('/Home/Project/edit/project_name/'.$config['project_name'].'/edit_page/'.$page['id']); ?>">{$page.name}</a></li>
                        </foreach>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1">
                            <?php if(count($info['images'])): ?>
                                <h3>图片设置</h3>
                            <?php endif; ?>

                            <foreach name="info.images" item="v">
                                <div>
                                    <h4>{$v.info}：{$v.file_name}.{$v.file_ext}</h4>
                                    <p>
                                        <img src="{$preview_base}/{$v.path}{$v.file_name}.{$v.file_ext}" style="width: 200px;">
                                    </p>
                                    <p>大小：{$v.size} <span style="color:red;">ps:只允许相同后缀名</span></p>
                                    <div>
                                        <form action="{:U('/Home/Project/upload_img')}" method="post" enctype="multipart/form-data">
                                            <input type="hidden" name="project_name" value="{$config.project_name}">
                                            <input type="hidden" name="img_path" value="{$v.path}">
                                            <input type="hidden" name="img_name" value="{$v.file_name}">
                                            <input type="hidden" name="img_ext" value="{$v.file_ext}">
                                            <input class="form-control" type="file" class="form-control" name="new_img">
                                            <button class="btn btn-success" onclick="return confirm('确认更新')" style="margin: 4px;">更新</button>
                                        </form>
                                    </div>
                                </div>
                                <hr>
                            </foreach>

                            <?php if(count($info['texts'])): ?>
                                <h3>内容设置</h3>
                            <?php endif; ?>
                            
                            <foreach name="info.texts" item="v">
                                <div>
                                    <p>{$v.name}： <?= isset($v['value'])?$v['value']:$v['regex']; ?></p>
                                    <p>替换文件：
                                         <foreach name="v.files" item="f" >
                                                {$f}
                                         </foreach>
                                    </p>
                                    <div>
                                        <form action="{:U('/Home/Project/updateText')}" method="post" accept-charset="utf-8">
                                            <input type="hidden" name="project_name" value="{$config.project_name}">
                                            <input type="hidden" name="regex" value="{$v.regex}">
                                            <foreach name="v.files" item="f" >
                                                <input type="hidden" name="files[]" value="{$f}">
                                            </foreach>
                                            <input type="hidden" name="edit_page" value="{$edit_page}">
                                            <input type="text" class="form-control" name="text">
                                            <button class="btn btn-success" onclick="return confirm('确认更新')" style="margin: 4px;">更新</button>
                                        </form>
                                    </div>
                                </div>
                                <hr>
                            </foreach>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<include file="common/footer">
