<include file="common/header" />
<div class="panel panel-default">
    <div class="panel-heading">编辑：{$config.name}
        <div class="columns  pull-right">
            <a href="{:U('/Project/reset/project_name/'.$config['project_name'])}" class="btn btn-primary">重置</a>
            <a href="{:U('/Project/package/project_name/'.$config['project_name'])}" class="btn btn-primary">打包</a>
            <a href="{:U('/Project/listProject')}" class="btn btn-btn-default">返回</a>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <iframe src="{$preview_url}" style="width: 100%;height: 640px;"></iframe>
                <p class="text-left">预览：<a href="{$preview_url}" target="_blank">网页预览</a><small>&nbsp;PS:用Google浏览器然后按F12 用手机模式查看</small></p>
                <!-- 二维码 -->
                <img src="{:U('/Common/createQRcode/','','')}?text={$preview_url}&size=150">
            </div>
            <div class="col-md-8">
                <div class="tabs" style="border: 1px solid #eee;">
                    <ul class="nav nav-tabs">
                        <foreach name="config.edit_page" item="page">
                            <li role="presentation" class="<?= $page['id'] == $edit_page ?'active':''; ?>"><a href="<?= U('Project/edit/project_name/'.$config['project_name'].'/edit_page/'.$page['id']); ?>">{$page.name}</a></li>
                        </foreach>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1">
                            <?php if(count($info['images'])): ?>
                                <h3>图片设置</h3>
                            <?php endif; ?>

                            <foreach name="info.images" item="v">
                                <div>
                                    <h4>{$v.info}：{$v.file_name}.{$v.file_ext}</h4>
                                    <p>
                                        <img src="{$preview_base}/{$v.path}{$v.file_name}.{$v.file_ext}" style="width: 200px;">
                                    </p>
                                    <p>大小：{$v.size} <span style="color:red;">ps:只允许相同后缀名</span></p>
                                    <div>
                                        <form action="{:U('/Project/upload_img')}" method="post" enctype="multipart/form-data">
                                            <input type="hidden" name="project_name" value="{$config.project_name}">
                                            <input type="hidden" name="img_path" value="{$v.path}">
                                            <input type="hidden" name="img_name" value="{$v.file_name}">
                                            <input type="hidden" name="img_ext" value="{$v.file_ext}">
                                            <input type="file" class="form-control" name="new_img">
                                            <button class="btn btn-success" onclick="return confirm('确认更新')">更新</button>
                                        </form>
                                    </div>
                                </div>
                                <hr>
                            </foreach>

                            <?php if(count($info['texts'])): ?>
                                <h3>内容设置</h3>
                            <?php endif; ?>

                            <foreach name="info.texts" item="v">
                                <div>
                                    <p>{$v.name}：{$v.regex}</p>
                                    <p>替换文件：{$v.file}</p>
                                    <div>
                                        <form action="{:U('/Project/updateText')}" method="post" accept-charset="utf-8">
                                            <input type="hidden" name="project_name" value="{$config.project_name}">
                                            <input type="hidden" name="regex" value="{$v.regex}">
                                            <input type="hidden" name="file" value="{$v.file}">
                                            <input type="hidden" name="edit_page" value="{$edit_page}">
                                            <input type="text" class="form-control" name="text">
                                            <button class="btn btn-success" onclick="return confirm('确认更新')">更新</button>
                                        </form>
                                    </div>
                                </div>
                                <hr>
                            </foreach>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<include file="common/footer">
