<include file="common/header" />
<div class="panel panel-default">
    <div class="panel-heading">项目列表
        <div class="columns  pull-right">
        </div>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>项目名称</th>
                    <th>项目介绍</th>
                    <th>版本</th>
                    <th>项目地址</th>
                    <th>创建时间</th>
                    <th>最后更新</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <foreach name="game_list" item="l">
                    <tr>
                        <td>{$l.name}</td>
                        <td>{$l.description}</td>
                        <td>{$l.version}</td>
                        <td><a href="{$l.project_url}" target="_blank">{$l.project_url}</a></td>
                        <td>{$l.create_time}</td>
                        <td>{$l.update_time}</td>
                        <td><a href="{:U('/Project/edit/project_name/'.$l['project_name'])}">编辑</a></td>
                    </tr>
                </foreach>
            </tbody>
        </table>
    </div>
</div>
<include file="common/footer">
