<!DOCTYPE html>
<html>
<!-- 该文件在开发环境下使用-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- 显示标题，默认是 html5管理 -->
    <title>{$title|default="html5管理"}</title>
    <link href="__PUBLIC__/framework/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/framework/css/datepicker3.css" rel="stylesheet">
    <link href="__PUBLIC__/framework/css/styles.css" rel="stylesheet">
    <script type="text/javascript" src="__PUBLIC__/framework/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/framework/js/bootstrap.min.js"></script>
</head>

<body>
    <!--  加入菜单模板 -->
    <include file="common/menu" />
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        <!-- 这里是继承的内容 -->